params {
  
}

env {

}


profiles {
  standard {

  }

  lsf {

  }

  pbspro {

  }

  aws {

  }

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
  k8s {
	        process.executor = 'k8s'
	        container = 'busybox:latest'
	        containerOptions = '--volume /data/db:/db'
	        storageClaimName = 'vol-claim-nexflow-production'
	        storageMountPath = '/workflow'
	        storageSubPath = '/production'
	        namespace = "ensprod-nexflow"
	        env.KUBECONFIG = ''
	}
 
}
