params {

}

env {

}


profiles {
    standard {
        process {
            executor = 'local'
            errorStrategy = 'finish'
        }
    }

    lsf {
        process {
            executor = 'lsf'
            perJobMemLimit = true
            errorStrategy = 'finish'

            cpus = 1
            memory = 1.GB

            withLabel: 'local' {
                executor = 'local'
            }
        }
    }

    slurm {
        process {
            executor = 'slurm'
            perJobMemLimit = true
            errorStrategy = 'finish'

            cpus = 1
            memory = 1.GB
            time = 60.min
            
            withLabel: 'local' {
                executor = 'local'
            }
        }
    }


    pbspro {

    }

    aws {
        
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
